.container {
  margin: 60px auto 0;
}

.mat-card {
  background-color: rgb(255, 255, 255);
  color: black;
  margin-right: 10px;
}

.button {
  margin-right: 10px;
  margin-left: 10px;
}

.image {
  max-width: 300px;
}
