
    <header>
      <div class="toolbar no-select company-logo" routerLink="">
        <mat-icon style="margin-right: 5px">home</mat-icon>
        <span>NB-KS</span>
      </div>
      <nav class="navbar">
          <ul class="nav-items">
              <li class="nav-item">
                  <a href="#" class="nav-link" routerLink="">HOME</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link" routerLink="products">PRODUCTS</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link" routerLink="basket">CART</a>
              </li>         
          </ul>
      </nav>
      <div class="menu-toggle">
          <i class="bx bx-menu"></i>
          <i class="bx bx-x"></i>
      </div>
    </header>

