<!-- HOME SECTION -->
<section class="container section-1">
    <div class="home-computer-container">
        <img src="../../../assets/images/mac-bg.jpg">
    </div>
    <div class="slogan">
        <h1 class="company-title">NEW TECHNOLOGY</h1>
        <h2 class="company-slogan">Computer shop in the area where customers come first.</h2>
    </div>
   
</section>

<!-- OFFER 1 -->
<div class="offer offer-1">
    <img src="../../../assets/images/MacBook-Pro.jpg"
        alt="a computer in dark with with white shadow" class="offer-img offer-1-img">
        
  
    <div class="offer-description offer-desc-1">
        <h2 class="offer-title">Macbook Pro</h2>
        <p class="offer-hook">This MacBook Pro is a sleek and powerful laptop that is popular among creative professionals for its high performance and stunning Retina display....</p>
    </div>
    <div class="cart-btn">ADD TO CART</div>
</div>

<!-- OFFER 2 -->
<div class="offer offer-2">
    <img src="../../../assets/images/notebook1.jpg"
        alt="a opened computer" class="offer-img offer-2-img">
      
    <div class="offer-description offer-desc-2">
        <h2 class="offer-title">Lenovo</h2>
        <p class="offer-hook">Lenovo notebook is a versatile and reliable laptop that offers a range of features, from long battery life to robust security, making it a popular choice for business users....</p>
        <div class="cart-btn">ADD TO CART</div>
    </div>
</div>
